.jumbotron {
  padding-top: 6rem;
  background-color: #f2deec;
}

#projects {
  background-color: #f2deec;
}

#click {
  background-color: #4b0082;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
